h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1, h2 {
	font-family: $heading;	
}

a, p {
	font-family: $body;
}

h1, h2, p, a, a:visited {
	color: #fff;
}



.s {
	background: $red;
	padding-left: 10px;
	padding-right:10px;
	margin-left: 20px;
	margin-right: 5px;
	padding-bottom: 8px;
	padding-top:4px;
}

