h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1, h2, h3 {
	font-family: $heading;	
	color: #fff;
}

a, p {
	font-family: $body;
}

h1, h2, p, a, a:visited {
	color: #fff;
}

h3 {
	padding: 12px;
	margin-bottom: 0;
	text-align: right;
}

.left-h3{
	text-align: left;
	border-left: solid 3px $red;
}

.right-h3{
	text-align: right;
	border-right: solid 3px $red;
}

.entry-content a {
	display:inline-block;
	text-align: center;
}


.s {
	background: $red;
	padding-left: 10px;
	padding-right:10px;
	margin-left: 20px;
	margin-right: 5px;
	padding-bottom: 8px;
	padding-top:4px;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1rem;
}


nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: $purple;
}


.learn-more {
	font-size: 1rem;
	text-decoration: underline;
	margin-left: 15px;
}

.learn-more:hover {
	color: $lightpurple;
	transition: .3s ease;
	font-weight: 900;
	background-color: white;
	text-decoration: none;
	padding: 8px;
}

#home {
	margin:0;
	font-size: 1.5rem;
}


.front-work img {
	border-radius: 8px;
	margin-bottom: 50px;
}



.front-work img:hover {
	border-radius: 8px;
	opacity: 1;
	transition: .3s linear;
}






.contact-links li {
	font-size: 0.9rem;
	margin: 14% 8px;
	font-weight: 900;
	letter-spacing: 1.5px;
}

.contact-links a {
	padding: 8px;
	border: solid 3px white;
}

.contact-links a:hover {
	color: black;
	background-color: white;
	color: $purple;
	border-color: $purple;
	transition: .3s linear;
}

#site-navigation  {
	display: flex;
	justify-content: space-around;
	border-top: solid 6px $red;
	
}

.menu-main-container li {
	justify-content: space-around;
	margin: 0 15%;
	text-transform: lowercase;
}


.entry-header h1 {
	font-family: $body;
	font-size: 4rem;
	text-align: center;
	letter-spacing: 2px;
	border-bottom: solid 5px $purple;
	margin-bottom: 5%;
	text-transform: uppercase;

}

@media only screen and (min-width: 700px) {
 .menu-main-container li {
 	font-size: 3rem;
	justify-content: space-around;
	margin: 0 15%;
}
}

@media only screen and (min-width: 700px) {
 .contact-links li {
	font-size: 1.3rem;
	margin: 5% 20px;
}
}

@media only screen and (min-width: 1250px) {
.front-work img {
	opacity: 0.3;
}
}

@media only screen and (min-width: 700px) {
 .contact-links li {
	font-size: 1.3rem;
	margin: 5% 15px;
}
}




