html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(to bottom , $lightpurple, $lightpurple);
}

.site {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}

p.tagline {
	font-size: 2rem;
	letter-spacing: 1px;
}

p.about {
	font-size: 1.5em;
	letter-spacing: 1.2px;
}

.polaroid {
	height:65%;
	width:65%;
	float: right;
	clear: right;
	border-right: 6px solid $red;
	padding-right: 12px;
	margin-top: 25px;
	margin-bottom: 25px;	
}

.logo {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.books {
	height: 45%;
	width: 45%;
	float: right;
	clear: right;
	margin: 30px;
}

#work {
	height:30px;
}

#work-h2{
	margin-top:0;
}

ul {
	display: flex;
	justify-content: flex-end;	
}

.flexslider ul {
	display: block;
}

li { 
	font-size: 1.5rem;
	list-style: none;
}

a {
	text-decoration: none;
}

.entry-content a{
color: $red;
}

.entry-content p {
	font-size: 1.5rem;
	letter-spacing: 1.2px;
}

#live-site {
	font-size: 2rem;
}




#footer-push {
	margin-bottom:50%;
}

@media only screen and (min-width: 700px) {
 #footer-push {
	margin-bottom:25%;
}
}
